.nav {
  &__list {
    @include flex-v-center;
  }
  &__item:not(:last-child) {
    margin-right: 40px;
  }
  &__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    color: var(--light-color);
  }
}
