<section class="about" id="about">
  <div class="container">
    <h2 class="visually-hidden">О школе Robo School</h2>
    <p class="about__descr">
      <span class="about__descr-bold"> Robo School</span>
      – учреждение для формирования кадрового педагогического резерва в сфере
      робототехникии программирования
    </p>

    <ul class="about__list">
      <li class="about__list-item">
        <div class="about__list-digit">10</div>
        <div class="about__list-info">
          УМК по различным направлениям по робототехнике
        </div>
      </li>
      <li class="about__list-item">
        <div class="about__list-digit">20</div>
        <div class="about__list-info">
          Школ, в которых запущена робототехника
        </div>
      </li>
      <li class="about__list-item">
        <div class="about__list-digit">100</div>
        <div class="about__list-info">
          Педагогов прошедших курсы повышения квалификации
        </div>
      </li>
      <li class="about__list-item">
        <div class="about__list-digit">1000</div>
        <div class="about__list-info">
          Обученных детей на базе собственных центров
        </div>
      </li>
    </ul>
  </div>
</section>
