<section class="benefits">
  <div class="container">
    <h2 class="benefits__title section-title">Что вы получите после курса</h2>

    <ul class="benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__item-title">Удостоверение</h3>
        <p class="benefits__item-info">
          Дающее право преподавать робототехнику для детей 6-12 лет в
          образовательных учреждениях
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__item-title">Знания</h3>
        <p class="benefits__item-info">
          По основам разработки учебно-методических комплексов по робототехнике
          и программированию
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__item-title">Практику</h3>
        <p class="benefits__item-info">
          Возможность пройти практику по преподаванию робототехники на базе R:ED
          LAB (в оффлайн или онлайн формате)
        </p>
      </li>
    </ul>
  </div>
</section>
