<header class="header">
  <div class="container-fluid">
    <header class="header__container">
      <a href="#" class="logo">
        <img src="./../img/svg/logo.svg" alt="Логотип Robo School" />
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#about" class="nav__link"> О школе</a>
          </li>
          <li class="nav__item">
            <a href="#trainers" class="nav__link">Тренеры</a>
          </li>
          <li class="nav__item">
            <a href="#price" class="nav__link">Стоимость</a>
          </li>
        </ul>
      </nav>
      <a href="tel:+7800000" class="phone" aria-label="Позвонить в Robo School"
        >+7 800 000 11 22</a
      >
    </header>
  </div>
</header>
