<section class="preferences">
  <div class="container">
    <h2 class="section-title">Выберите нужный пакет</h2>
    <ul class="preferences__list">
      <li class="preferences__list-item preferences__list-item--current">
        <p class="preferences__list-title">PRO</p>
        <div class="preferences__list-price">20.000 ₽</div>
        <div class="preferences__list-text">
          УМК по робототетхнике и программированию
        </div>
        <button class="btn preferences__list-btn">Оставить заявку</button>
      </li>
      <li class="preferences__list-item">
        <p class="preferences__list-title">ROBO</p>
        <div class="preferences__list-price">15.000 ₽</div>
        <div class="preferences__list-text">УМК по робототетхнике</div>
        <button class="btn preferences__list-btn">Оставить заявку</button>
      </li>
      <li class="preferences__list-item">
        <p class="preferences__list-title">PROG</p>
        <div class="preferences__list-price">10.000 ₽</div>
        <div class="preferences__list-text">УМК по программированию</div>
        <button class="btn preferences__list-btn">Оставить заявку</button>
      </li>
    </ul>
  </div>
</section>
