<section class="trainers">
  <h2 class="section-title">Профессиональные тренеры</h2>
  <div class="swiper trainers__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-1.webp" type="image/webp" />
            <img
              class="trainers__item-image"
              loading="lazy"
              src="img/trainer-1.jpg"
              alt="Ирина Лайм"
            />
          </picture>
          <div class="trainers__item-title">Ирина Лайм</div>
          <div class="trainers__item-descr">преподаватель по робототехнике</div>
          <button
            class="btn-reset trainers__item-btn"
            data-graph-path="trainer-1"
          >
            Подробнее
          </button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-2.webp" type="image/webp" />
            <img
              class="trainers__item-image"
              loading="lazy"
              src="img/trainer-2.jpg"
              alt="Марина Орлова"
            />
          </picture>
          <div class="trainers__item-title">Марина Орлова</div>
          <div class="trainers__item-descr">преподаватель по робототехнике</div>
          <button
            class="btn-reset trainers__item-btn"
            data-graph-path="trainer-2"
          >
            Подробнее
          </button>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-3.webp" type="image/webp" />
            <img
              class="trainers__item-image"
              loading="lazy"
              src="img/trainer-3.jpg"
              alt="Максим Петров"
            />
          </picture>
          <div class="trainers__item-title">Максим Петров</div>
          <div class="trainers__item-descr">
            преподаватель по программированию
          </div>
          <button
            class="btn-reset trainers__item-btn"
            data-graph-path="trainer-3"
          >
            Подробнее
          </button>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-4.webp" type="image/webp" />
            <img
              class="trainers__item-image"
              loading="lazy"
              src="img/trainer-4.jpg"
              alt="Константин Назаров"
            />
          </picture>
          <div class="trainers__item-title">Константин Назаров</div>
          <div class="trainers__item-descr">преподаватель по робототехнике</div>
          <button
            class="btn-reset trainers__item-btn"
            data-graph-path="trainer-4"
          >
            Подробнее
          </button>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="trainers__item">
          <picture>
            <source srcset="img/trainer-5.webp" type="image/webp" />
            <img
              class="trainers__item-image"
              loading="lazy"
              src="img/trainer-5.jpg"
              alt="Лиза Весенняя"
            />
          </picture>
          <div class="trainers__item-title">Лиза Весенняя</div>
          <div class="trainers__item-descr">
            преподаватель по программированию
          </div>
          <button
            class="btn-reset trainers__item-btn"
            data-graph-path="trainer-5"
          >
            Подробнее
          </button>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="trainers__nav">
        <div class="swiper-scrollbar"></div>
        <div class="trainers__nav-buttons">
          <div
            class="swiper-button-prev trainers__nav-button trainers__nav-button--prev"
          ></div>
          <div
            class="swiper-button-next trainers__nav-button trainers__nav-button--next"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
